#trafficTop {
    background-color: black;
    width: 50px;
    height: 150px;
    margin:auto;
}
#Container {
    background-color: black;
    width: 250px;
    height: 500px;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
}
.light {
    width: 150px;
    height: 150px;
    margin:auto;
    border-radius: 50%;
    padding: 50px;
    cursor: pointer;
    margin-top: 7px;
    &.red {background-color: red;}
    &.yellow {background-color: yellow;}
    &.green {background-color: green;}
    &.selected {box-shadow: whitesmoke 0px 0px 100px 50px;}
}